---
import Card from "./Card/index.astro";
---

<Card href="/wallet" colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Wallet">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Billetera Electronica.
      <br />
      Mejores ventas.:
      <ul class="list-disc list-inside">
        <li>30 camisetas</li>
        <li>10 camisetas</li>
        <li>8 sudaderas</li>
        <li>3 pantalones</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo
      nostrum illo rerum tenetur, excepturi nesciunt ipsum numquam nihil nam
      asperiores cumque voluptatibus voluptate ea ipsa soluta pariatur,
      doloribus dolore.
    </p>
    <p class="text-sm font-light">mes con mas ganancias abril 2024.</p>
  </div>
</Card>
